@import "../../constant/Colors.scss";
@import "../../constant/Fonts.scss";



.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px){
    margin-bottom: 10px;
  }

  .text {
      margin-bottom: 5px;
      font-size: 12px;
      font-weight: 600;
      // color: $greenDefault;
  }

  .buttonDrop {
      display: flex;
      align-items: center;
      color: $white;

      select{
          height: 30px;
          cursor: pointer;
          padding: 0 5px;
          border: 1px solid $greenDefault;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
          font-family: $regular;
          background: $white;
          option {
            font: -moz-pull-down-menu;
          }
          @media screen and (max-width: 280px){
            width: 113px;
          }

          &.bg-green {
              background: $greenDefault;
              color: $white;

              @media screen and (max-width: 768px){
                width: 100%;
              }
              @media screen and (max-width: 280px){
                width: 75px;
              }
          }

          &:focus-visible {
              outline: unset;
          }
          &.right-option {
            background: unset;
            border-top-left-radius: unset !important;
            border-bottom-left-radius: unset !important;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            margin-right: 10px;
            width: 162px;
            @media screen and (max-width: 280px){
              width: 95px;
            }
          }
      }


      .btnSortFilter {
          padding: 0px 15px;
          cursor: pointer;
          transition: opacity .3s;
          background-color: $greenDefault;
          height: 30px;
          display: flex;
          align-items: center;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
          margin-right: 10px;

          width: 40px;
          justify-content: center;
          @media screen and (max-width: 280px){
            width: 27px;
          }
          &:hover {
              opacity: .8;
          }
      }

      .search {
          input {
              padding: 0 5px;
              border: 1px solid $greenDefault;
              height: 28px;
              border-top-right-radius: 5px;
              border-bottom-right-radius: 5px;
              font-family: $regular;
              background: $white;
              width: 150px;
              &:focus-visible {
                  outline: unset;
              }
              @media screen and (max-width: 280px){
                width: 83px;
              }
              &:disabled {
                cursor: not-allowed;
              }
          }
          margin-right: 10px;
          @media screen and (max-width: 768px){
            width: calc(100% - 10px);
          }
      }
  }
}
