@import "../../constant/Colors.scss";
@import "../../constant/Fonts.scss";


.container-input {

  .text-header {
    font-size: 14px;
    font-weight: 600;
    color: $greenDefault
  }
  input {
    transition: all .3s;
    padding: 0 15px;
    border: 1px solid $greenDefault;
    height: 28px;
    border-radius: 5px;
    font-family: $regular;
    width: 250px;
    background: $white;

    &:hover {
      border: 1px solid $blackDark;
    }
    &::placeholder {
      color: $grayDark;
    }
    &:focus-visible {
        outline: unset;
    }
    margin-top: 5px;
  }
  &:focus-within {
    .text-header {
      color: $blackDark
    }
    input {
      border: 1px solid $blackDark;
    }
    select {
      border: 1px solid $blackDark;
    }
  }
  select{
    height: 30px;
    cursor: pointer;
    padding: 0 15px;
    border: 1px solid $greenDefault;
    border-radius: 5px;
    font-family: $regular;
    margin-top: 5px;
    width: 282px;
    color: $grayDark;
    transition: all .3s;
    background: $white;

    option {
      color: $blackDark !important;
      font: -moz-pull-down-menu;
    }


    &:hover {
      border: 1px solid $blackDark;
    }

    &:focus-visible {
        outline: none;
    }
  }
  @media screen and (max-width: 768px){
    width: calc(100% - 10px);
  }


  @media screen and (max-width: 280px){
    select{
      width: calc(100vw - 48px);
    }
    input {
      width: calc(100vw - 80px);
    }
  }
}




